[submodule "submodules/wallet"]
	path = submodules/wallet
	url = https://github.com/valora-inc/wallet.git
[submodule "submodules/dapp-list"]
	path = submodules/dapp-list
	url = https://github.com/valora-inc/dapp-list.git
[submodule "submodules/nft-list"]
	path = submodules/nft-list
	url = https://github.com/valora-inc/nft-list.git
[submodule "submodules/hooks"]
	path = submodules/hooks
	url = https://github.com/valora-inc/hooks.git
